html, body {
    font-family: 'Roboto', 'helvetica' sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

.container {
    position: relative;
    background-color: #f8f9fa;
    padding-bottom: 65px;
}

#data {
    padding: 10px;
    padding-bottom: 15px;
}

.bigger-text {
    font-size : 1.4rem;
}

#member-list {
    height: 670px;
}

header {
    padding: 10px;
    font-size: 2rem;
}


.part {
    margin-bottom: 10px;
}

.house {
    margin-bottom: 15px;
}

#pagination {
    padding-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    padding: 10px;
}

a{
    cursor: pointer;
}

.container-content {
    margin: auto;
    padding: 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    transition: all 0.5s;
}

.logo {
    height: 50px;
}

.footer-logo {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer-link {
    text-align: center;
}

#footer-link {
    text-align: center;
}

.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.inner {
    padding: 10px;
    transition: all 1s;
}

.inner:hover {
    background-color: rgb(255, 211, 154);
}

.box {
    height: 200px;
    background-color: rgb(168, 220, 255);
    overflow: hidden !important;
}

.house-image {
    width: 420px;
}

.dail{
    background-color: rgb(251, 242, 237);
}

.seanad {
    background-color: rgb(240, 251, 255);
}

.member-img {
    width: 100%;
}

.member-thumbnail-box {
    height:30px;
    width:30px;
    overflow: hidden;
}

.member-thumbnail {
    width:30px;
}

.primary {
    background-color: antiquewhite;
}

